{% extends parent_template|default:'user/base_user.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        {% if validlink %}

            <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
        {% else %}
            <p>This reset link is no longer valid.</p>
            <p>Please request a new reset email <a href="{% url 'password_reset' %}">here</a>.</p>
        {% endif %}
    </div>
{% endblock content %}