{% extends parent_template|default:'base.html' %}

{% block content %}

    {% block sub_content %}
        This is default content!
    {% endblock sub_content %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if first_page_url %}
                <li><a class="button" href="{{ first_page_url }}">First</a></li>
            {% endif %}
            {% if previous_page_url %}
                <li><a class="button" href="{{ previous_page_url }}">Previous</a></li>
            {% endif %}
                <li><a class="button primary" href="">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
            {% if next_page_url %}
                <li><a class="button" href="{{ next_page_url }}">Next</a></li>
            {% endif %}
            {% if last_page_url %}
                <li><a class="button" href="{{ last_page_url }}">Last</a></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock content %}