{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block title %}
    {{ block.super }} - {{ object.name }}
{% endblock title %}

{% block sub_content %}
    <style>
        li {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .red-text {
            font-weight: bold;
            color: #f56a6a;
        }
        .green-text {
            font-weight: bold;
            background-color: #ccffcc;
            padding: 5px;
            border-radius: 5px;
        }
    </style>

    <section>
        <header class="main">
            <h1><a href=" {{ object.get_absolute_url }} ">{{ object.name }}</a></h1>
        </header>
        {% if form_posted %}
            <div>
                <h2 class="red-text">You scored {{ quiz_score }} out of {{ quiz_total_questions }}!</h2>
                <a href="{{ quiz_start }}" class="button primary">Try Again?</a>
                <a href="{% url 'quiz_list' %}#latest" class="button">Try Our Other Quizzes!</a>
            </div>
        {% endif %}
        <form action="{{ quiz_start }}" method="post">
            {% csrf_token %}
            {% if questions %}
                <ol>
                    {% for question in questions %}
                        <li>
                            <strong>{{ question.question_text }}</strong>
                        </li>
                        {% for choice in question.get_random_choices %}
                            <input type="radio" name="{{ question.question_text }}" value="{{ choice }}" id="{{ question.question_text }} {{ forloop.counter0 }} {{ choice }}">
                                {% if form_posted %}
                                    {% if choice == question.correct_choice and choice == user_answer_dict|get_item:question.question_text %}
                                        <label>
                                            <span class="green-text">{{ choice }}</span>
                                            <span class="icon solid fa-check"></span>
                                        </label><br>
                                    {% elif choice == question.correct_choice %}
                                        <label>
                                            <span class="green-text">{{ choice }}</span>
                                        </label><br>
                                    {% elif choice == user_answer_dict|get_item:question.question_text %}
                                        <label>
                                            <span class="red-text"><strike>{{ choice }}</strike></span>
                                            <span class="icon solid fa-times"></span>
                                        </label><br>
                                    {% elif not user_answer_dict|get_item:question.question_text %}
                                        <label>
                                            <span class="red-text"><strike>{{ choice }}</strike></span>
                                            <span class="icon solid fa-times"></span>
                                        </label><br>
                                    {% else %}
                                        <label>{{ choice }}</label><br>
                                    {% endif %}
                                {% else %}
                                    <label for="{{ question.question_text }} {{ forloop.counter0 }} {{ choice }}">{{ choice }}</label><br>
                                {% endif %}
                            </input>
                        {% endfor %}
                    {% endfor %}
                </ol>
            {% endif %}

            <div>
                {% if not form_posted %}
                    <button class="primary" type="submit">Submit</button>
                    <button type="reset">Reset</button>
                {% endif %}
            </div>
        </form>
    </section>
{% endblock sub_content %}

