{% extends parent_template|default:'quiz/base_quiz.html' %}
{% load static %}

{% block sub_content %}

    {% if 'q' not in request.GET and 'page' not in request.GET  %}
        <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>Welcome to Create A Quiz!</h1>
                        <p>A site for you to create and enjoy user-created quizzes</p>
                    </header>
                    <p>Check out our latest awesome quizzes below. If you'd like to create your own quiz and share it with your friends,
                        {% if user.is_authenticated %}
                            <a href="{% url 'quiz_create' %}">get started right away!</a>
                        {% else %}
                            just <a href="{% url 'register' %}">sign up</a> for a free account and get started.
                            {% endif %}
                        Creating and solving quizzes has never been so easy!</p>
                </div>
                <span class="image object">
                    <a href="#latest"><img src="{% static 'images/woman-phone-1.jpg' %}" alt="Woman playing CreateAQuiz on her phone" /></a>
                </span>
            </section>
    {% endif %}

    <!-- Section: Quizzes -->
        <section>
            <header class="major">
                <h2><a href="{% url 'quiz_list' %}" id="latest">Latest Quizzes</a></h2>
                {% if 'q' in request.GET %}
                    <h3>Search results for '{{ request.GET.q }}' :</h3>
                {% endif %}
            </header>
            <div class="posts">
                {% for object in object_list %}
                    <article>
                        {% if object.image %}
                            <a href="{{ object.get_absolute_url }}" class="image"><img src="{{ object.image.url }}" alt="{{ object.name }}" loading="lazy"></a>
                        {% endif %}
                        <h3><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h3>
                        <p>{{ object.description|truncatewords:20 }}</p>
                        {% if object.tags.all %}
                            <ul class="icon solid fa-tags tag">
                                {% for tag in object.tags.all %}
                                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <ul class="actions">
                            <li><a href="{{ object.get_absolute_url }}" class="button">More</a></li>
                        </ul>
                    </article>
                {% empty %}
                    <article><em>No Quizzes found.</em></article>
                {% endfor %}
            </div>
        </section>

{% endblock sub_content %}
