{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block title %}
    {{ block.super }} - Delete Quiz
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form action="{{ quiz.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete the Quiz {{ quiz.name }}?
        </p>
        <a href="{{ quiz.get_absolute_url }}" class="button button-primary">Cancel</a>
        <button type="submit">Delete Quiz</button>
      </form>
    </div>
  </div>
{% endblock %}