{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block sub_content %}
    <section id="search" class="mt-0 mb-4">
        <form method="get" class="input-group">
            <input class="form-control" type="text" name="q" id="q" placeholder="Search for quizzes..." value="{{ request.GET.q }}"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
                <a href="{% url 'quiz_list' %}" class="btn btn-outline-secondary">Clear</a>
            </div>
        </form>
    </section>

    {% for object in object_list %}
        <article class="media content-section">
            {% if object.author %}
                <a href="{{ object.author.profile.get_absolute_url }}">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                </a>
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Posted on {{ object.pub_date|date:"F d, Y" }}
                        {% if object.author %}
                            by <a class="mr-2" href="{{ object.author.profile.get_absolute_url }}">{{ object.author }}</a>
                        {% endif %}
                    </small>
                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ object.get_update_url }}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ object.get_delete_url }}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
                <p class="article-content">{{ object.description }}</p>
                {% if object.tags.all %}
                    <ul class="list-inline">
                        <li class="list-inline-item">Tags:</li>
                        {% for tag in object.tags.all %}
                            <li class="list-inline-item"><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </article>
    {% empty %}
        <li class="mb-4"><em>No Quizzes found.</em></li>
    {% endfor %}
{% endblock sub_content %}
