{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block title %}
    {{ block.super }} - {{ object.name }}
{% endblock title %}

{% block sub_content %}

    <section>
        <header class="main">
            <h1><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h1>
        </header>
        {% if object.image %}
            <span class="image main"><a href="#metadata"><img src="{{ object.image.url }}" alt="{{ object.name }}"></a></span>
        {% endif %}
        <div id="metadata">
            {% if object.author %}
                <a href="{{ object.author.profile.get_absolute_url }}">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                </a>
            {% endif %}
            <h3>
                Posted on {{ object.pub_date|date:"F d, Y" }}
                {% if object.author %}
                    by <a href="{{ object.author.profile.get_absolute_url }}">{{ object.author }}</a>
                {% endif %}
            </h3>
            {% if object.tags.all %}
                <ul class="icon solid fa-tags tag">
                    {% for tag in object.tags.all %}
                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if object.author == user %}
                <div>
                    <a class="icon solid fa-pencil-alt button" href="{{ object.get_update_url }}">Update</a>
                    <a class="icon solid fa-trash-alt button" href="{{ object.get_delete_url }}">Delete</a>
                </div>
            {% endif %}
        </div>
        <p>
            {{ object.description|linebreaks }}
            <a class="button primary fit" href="{{ object.get_start_url }}">Start Quiz!</a>
        </p>
        {% if object.author == user %}
            <hr class="major" />
            <h3>Edit Quiz:</h3>
            <ul class="actions">
                <li><a class="button primary" href="{{ object.create_question_url }}">Add New Question</a></li>
            </ul>
            {% if object.question_set.all %}
                <ol class="actions">
                    {% for question in object.question_set.all %}
                        <li>
                            <strong>{{ question.question_text }}</strong>
                            <a class="icon solid fa-pencil-alt button small" href="{{ question.get_update_url }}">Update</a>
                            <a class="icon solid fa-trash-alt button small" href="{{ question.get_delete_url }}">Delete</a>
                        </li>
                        <ol>
                            {% for choice in question.get_random_choices %}
                                {% if choice == question.correct_choice %}
                                    <li><strong>{{ choice }}</strong></li>
                                {% else %}
                                    <li>{{ choice }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% endfor %}
                </ol>
            {% endif %}
            <h3>(Quiz questions will be displayed in a random order upon starting the quiz)</h3>
        {% endif %}
    </section>

{% endblock sub_content %}
