{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block title %}
    {{ block.super }} - Tag List
{% endblock title %}


{% block sub_content %}
    <article class="media content-section">
        <div class="media-body">
            <h2>Tags</h2>
            <div class="list-group">
                    {% for object in object_list %}
                        <a href="{{ object.get_absolute_url }}" class="list-group-item list-group-item-action">
                            {{ object.name }}
                        </a>
                    {% empty %}
                        <li><em>There are currently no Tags available.</em></li>
                    {% endfor %}
            </div>
        </div>
    </article>
{% endblock sub_content %}
