{% extends parent_template|default:'quiz/base_quiz.html' %}

{% block title %}
    {{ block.super }} - Tag List
{% endblock title %}

{% block sub_content %}

    <section>
        <header class="major">
            <h2>
                <a class="icon solid fa-tags" href="{% url 'tag_list' %}"> Tags</a>
            </h2>
        </header>
        <div class="media-body">
            <article>
                {% if perms.quiz.add_tag %}
                    <ul class="actions">
                        <li><a class="button primary" href="{% url 'tag_create' %}">Add New Tag</a></li>
                    </ul>
                {% endif %}
                <ul>
                    {% for object in object_list %}
                        <li><a href="{{ object.get_absolute_url }}">{{ object.name }} ({{ object.quiz_set.count }})</a></li>
                    {% empty %}
                        <li><em>There are currently no Tags available.</em></li>
                    {% endfor %}
                </ul>
            </article>
        </div>
    </section>

{% endblock sub_content %}
